img{
    width: 21%;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.input-box{
  text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    border: 3px  solid black;
    height: 30px;
    width: 10%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
}